body,ul,ol,dl,dd,p,h1,h2,h3,h4,h5,h6,input,textarea,hr,div,em,strong{
    margin:0;
    padding:0;
}
.wuda::after{
    content:"";display:block;clear:both;height:0;overflow:hidden;visibility:hidden;
}
body{
    font-family: "微软雅黑";
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
html{
    font-size: 26.67vw;
}
.box-1{
    width: 100%;
    display: flex;
    height: 0.4rem;
    justify-content:space-between;
    margin-top: 0.1rem;
}
.box-1 h5{
    font-size: 0.18rem;
    line-height: 0.4rem;
    margin-right: 0.5rem;
}
.div-2 .img-1{
    height: 0.25rem;
    margin: auto 0;
}
.div-1 .img-1{
    height: 100%;
}
.img-2{
    height: 50%;
    margin: auto 0;
}
.box-1 div{
    display: flex;
}
.div-2{
    justify-content:flex-end;
}
.div-2 img:first-child{
    margin-right: 0.1rem;
}
.div-2 img{
    padding-right: 0.2rem;
}
.div-1 .img-1{
    padding-left: 0.2rem;
}
.box-2{
    display: flex;
    justify-content:center;
    margin-top: 0.2rem;
}
.box-2 input{
    width: 90%;
    height: 0.3rem;
    font-size: 0.15rem;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("img/4.png");
    background-position: 1.15rem;
    background-size:6%;
    border: 0;
    background-color: rgb(244,244,244);
    border-radius:0.2rem;
    font-weight: 700;
    outline: none;
}
.box-3{
    display: flex;
    flex-wrap: wrap;
}
.div-3{
    font-size: 0.12rem;
    width: 25%;
    text-align: center;
    margin-top: 0.1rem;
}
.div-3 a{
    display: inline-block;
    color: black;
}
.div-3 img{
    width: 60%;
}
.box-4{
    display: flex;
    justify-content:space-around;
}
.div-4{
    width: 30%;
    text-align: center;
    display: flex;
    margin: 0.2rem 0;
    border: 0.01rem solid rgb(228,228,228);
    border-radius: 0.05rem;
}
.div-4 div{
    width: 70%;
    font-size: 0.12rem;
    margin-bottom: 0.1rem;
}
.div-4 h5{
    font-size: 0.14rem;
    margin-bottom: 0.05rem;
    margin-top: 0.05rem;
}
.div-4 img{
    width: 25%;
    height: 55%;
    margin-top: 0.15rem;
    margin-bottom: 0.1rem;
    margin-left: 0.03rem;
}
.div-4 span{
    color: rgb(176,176,176);
}
.box-5{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-5 img{
    width: 95%;
}
.box-6{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.1rem;
    justify-content:space-around;
    margin-bottom: 0.6rem;
}
.box-6 ul{
    font-size: 0.16rem;
    list-style: none;
    margin-left: -0.4rem;
    margin-bottom: 0.1rem;
}
.box-6 li{
    display: inline-block;
    margin-right: 0.4rem;
}
.box-6 li:first-child{
    font-size: 0.18rem;
    font-weight: 600;
    border-bottom: 0.05rem solid rgb(245,110,156);
    border-radius: 0.02rem;
}
.div-5{
    font-size: 0.14rem;
    width: 45%;
    border: 0.01rem solid #e67fa7;
    position: relative;
    border-radius: 2%;
}
.div-5 img{
    width: 60%;
    margin:0 0.3rem;
}
.div-5 h5{
    text-align: center;
    font-size: 0.14rem;
}
._sp{
    display: inline-block;
    width: 0.4rem;
    height: 0.2rem;
    text-align: center;
    line-height: 0.2rem;
    border: 0.01rem solid #e67fa7;
    border-radius: 0.05rem;
    color: #e67fa7;
    margin: 0.05rem 0 0 0.05rem;
}
.div-5 p{
    margin-left: 0.05rem;
    color: #e67fa7;
    margin-top: 0.07rem;
}
.div-5 p span:first-child{
    font-size: 0.18rem;
    font-weight: 700;
}
._sp-2{
    position: absolute;
    right: 0.1rem;
    margin-top: 0.04rem;
}
.div-6{
    font-size: 0.14rem;
    width: 45%;
    border: 0.01rem solid #e67fa7;
    position: relative;
    border-radius: 2%;
}
.div-6 h5{
    text-align: center;
    font-size: 0.14rem;
}
.div-6 img{
    width: 100%;
}
.xian{
    margin-left: 0.1rem;
    margin-top: 0.1rem;
}
._p{
    margin-left: 0.05rem;
    color: #e67fa7;
    margin-top: 0.15rem;
}
._p span:first-child{
    font-size: 0.18rem;
    font-weight: 700;
}
.img{
    position: fixed;
    top: 70%;
    width: 20%;
}
.foter{
    width: 100%;
    font-size: 0.14rem;
    display: flex;
    justify-content:space-around;
    border-top: 0.02rem solid rgb(237,237,237);
    z-index: 5;
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 0.55rem;
}
.foter a{
    color: rgb(111,111,111);
}
.foter img{
    width: 50%;
}
.foter div{
    display: flex;
    text-align: center;
    align-items:center;
}