body,ul,ol,dl,dd,p,h1,h2,h3,h4,h5,h6,input,textarea,hr,div,em,strong{
    margin:0;
    padding:0;
}
.wuda::after{
    content:"";display:block;clear:both;height:0;overflow:hidden;visibility:hidden;
}
body{
    font-family: "微软雅黑";
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
html{
    font-size: 26.67vw;
}
.yingshi{
    width: 100%;
    display: flex;
    height: 0.4rem;
    justify-content:space-between;
    margin-top: 0.1rem;
}
.yingshi h5{
    font-size: 0.18rem;
    line-height: 0.4rem;
    margin-right: 0.5rem;
}
.yingshi .div-2 .img-1{
    margin: auto 0;
    width: 15%;
    height: 50%;
}
.yingshi .div-1{
    width: 20%;
}
.yingshi .div-1 .img-1{
    width: 40%;
    height: 100%;
    padding-left: 0.2rem;
}
.yingshi .div-1 .img-2{
    height: 50%;
    margin: auto 0;
}
.yingshi div{
    display: flex;
}
.yingshi .div-2{
    justify-content:flex-end;
    width: 40%;
}
.yingshi .div-2 img{
    padding-right: 0.18rem;
}
.yingshi input{
    width: 30%;
    height: 70%;
    font-size: 0.12rem;
    background-repeat: no-repeat;
    background-image: url("img/4.png");
    background-position: 0.1rem;
    background-size:10%;
    border: 0;
    background-color: rgb(244,244,244);
    border-radius:0.2rem;
    font-weight: 700;
    outline: none;
    padding-left: 0.3rem;
    margin-top: 0.05rem;
    margin-left: 0.1rem;
}
.yingshi input::-webkit-input-placeholder {
    color:     #c3c7c8;
}
.television{
    font-size: 0.16rem;
    display: flex;
    justify-content:space-between;
    color: #aaa6a7;
    margin-top: 0.1rem;
    padding: 0 0.05rem;
}
.television ._li{
    color: rgb(231,124,160);
    padding-bottom: 0.05rem;
    border-bottom: 0.05rem solid #f27897;
    border-radius: 5%;
    font-weight: 700;
}
.slideshow{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-bottom: 0.01rem solid rgb(232,232,232);
}
.slideshow .img-3{
    margin-top: 0.1rem;
    width: 95%;
    display: inline-block;
    box-sizing: border-box;
    display: flex;
}
.slideshow .img-3 img{
    width: 100%;
}
.slideshow .div-3{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-around;
    font-size: 0.12rem;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
}
.slideshow .div-3 a{
    width: 20%;
    text-align: center;
    color: rgb(157,157,157);
}
.slideshow .img-5{
    width: 45%;
    height: 60%;
}
.slideshow .img-4{
    width: 20%;
    height: 60%;
}
.bord{
    margin-bottom: 0.65rem;
}
.label{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-bottom: 0.01rem solid rgb(232,232,232);
}
.label .div-4{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.1rem;
}
.label .div-4 h5{
    font-size: 0.16rem;
}
.label .div-4 span{
    font-size: 0.12rem;
    color: rgb(146,146,146);
}
.label .div-5{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start
}
.label .div-5 p{
    font-size: 0.12rem;
    color: rgb(185,185,185);
    margin-top: 0.03rem;
}
.label .div-5 a{
    width: 30%;
    flex-wrap: wrap;
    display: flex;
    align-items:flex-end;
    margin-top: 0.1rem;
}
.label .div-5 span{
    font-size: 0.14rem;
    color: black;
    margin-top: 0.03rem;
}
.label .div-5 img{
    width: 100%;
}
.label p{
    margin: 0.1rem 0;
    font-size: 0.14rem;
}
.label p img{
    width: 25%;
    margin-right: 0.05rem;
}
.label p span{
    color: rgb(185,185,185);
}
.labe{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-bottom: 0.01rem solid rgb(232,232,232);
}
.labe .div-4{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.1rem;
}
.labe .div-4 h5{
    font-size: 0.16rem;
}
.labe .div-4 span{
    font-size: 0.12rem;
    color: rgb(146,146,146);
}
.labe .div-5{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start
}
.labe .div-5 p{
    font-size: 0.12rem;
    color: rgb(185,185,185);
    margin-top: 0.03rem;
}
.labe .div-5 a{
    width: 47%;
    flex-wrap: wrap;
    display: flex;
    align-items:flex-end;
    margin-top: 0.1rem;
}
.labe .div-5 span{
    font-size: 0.14rem;
    color: black;
    margin-top: 0.03rem;
    width: 100%;
}
.labe .div-5 img{
    width: 100%;
}
.labe p{
    margin: 0.1rem 0;
    font-size: 0.14rem;
}
.labe p img{
    width: 25%;
    margin-right: 0.05rem;
}
.labe p span{
    color: rgb(185,185,185);
}
.page{
    width: 100%;
    font-size: 0.14rem;
    display: flex;
    justify-content:space-around;
    border-top: 0.02rem solid rgb(237,237,237);
    z-index: 5;
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 0.55rem;
}
.page a{
    color: rgb(111,111,111);
}
.page img{
    width: 50%;
}
.page div{
    display: flex;
    text-align: center;
    align-items:center;
}
