body,ul,ol,dl,dd,p,h1,h2,h3,h4,h5,h6,input,textarea,hr,div,em,strong{
    margin:0;
    padding:0;
}
.wuda::after{
    content:"";display:block;clear:both;height:0;overflow:hidden;visibility:hidden;
}
body{
    font-family: "微软雅黑";
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
html{
    font-size: 26.67vw;
}
.zhibo{
    width: 100%;
    display: flex;
    height: 0.4rem;
    justify-content:space-between;
    margin-top: 0.1rem;
}
.zhibo h5{
    font-size: 0.18rem;
    line-height: 0.4rem;
    margin-right: 0.5rem;
}
.zhibo .div-2 .img-1{
    margin: auto 0;
    width: 15%;
    height: 50%;
}
.zhibo .div-1{
    width: 20%;
}
.zhibo .div-1 .img-1{
	 width: 70%;
    height: 100%;
	padding-left: 0.1rem;
}
.zhibo .img-2{
    height: 50%;
    margin: auto 0;
}
.zhibo div{
    display: flex;
}
.zhibo .div-2{
    justify-content:flex-end;
    width: 40%;
}
.zhibo .div-2 img{
    padding-right: 0.18rem;
}
.zhibo input{
    width: 30%;
    height: 70%;
    font-size: 0.12rem;
    background-repeat: no-repeat;
    background-image: url("img/4.png");
    background-position: 0.1rem;
    background-size:10%;
    border: 0;
    background-color: rgb(244,244,244);
    border-radius:0.2rem;
    font-weight: 700;
    outline: none;
    padding-left: 0.3rem;
    margin-top: 0.05rem;
    margin-left: 0.1rem;
}
.zhibo input::-webkit-input-placeholder {
    color:     #c3c7c8;
}
.can{
    font-size: 0.16rem;
    display: flex;
    justify-content:space-between;
    color: #aaa6a7;
    margin-top: 0.1rem;
    padding: 0 0.05rem;
    margin-bottom: 0.05rem;
}
.can ._li{
    color: rgb(231,124,160);
    padding-bottom: 0.05rem;
    border-bottom: 0.05rem solid #f27897;
    border-radius: 5%;
    font-weight: 700;
}
.designation{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-top: 0.01rem solid rgb(232,232,232);
}
.designation .img-3{
    margin-top: 0.1rem;
    width: 95%;
    display: inline-block;
    box-sizing: border-box;
    display: flex;
}
.designation .img-3 img{
    width: 100%;
}
.designation .div-3{
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    margin-bottom: 0.1rem;
	justify-content: center;
}
.designation .div-3 a{
    width: 20%;
    font-size: 0.12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:flex-start;
    margin-top: 0.1rem;
    color: rgb(103,103,103);
}
.designation .div-3 img{
    width: 70%;
    margin: auto;
}
.focus{
    width: 100%;
    display: flex;
    justify-content:space-between ;
    border-top: 0.03rem solid rgb(246,246,246);
    border-bottom: 0.03rem solid rgb(246,246,246);
    padding: 0.1rem 0;
    margin: 0 auto;
    padding-left: 0.1rem;
    box-sizing: border-box;
    padding-right: 0.1rem;
}
.focus h5{
    font-size: 0.14rem;
}
.focus div span{
    font-size: 0.12rem;
    color: #cecece;
}
.focus .ssp{
    font-size: 0.16rem;
    color: #cecece;
}
.focus p{
    font-size: 0.12rem;
    padding-left: 0.1rem;
}
.focus div{
    display: flex;
    align-items: center;
}
.live{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.live .div-4{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 0.1rem;
}
.live .div-4 h5{
    font-size: 0.16rem;
}
.live .div-4 span{
    font-size: 0.14rem;
    color: rgb(185,185,185);
}
.live .div-4 img{
    width: 20%;
}
.module{
    margin-top: 0.1rem;
    width: 48%;
    background-color: white;
    color: black;
    font-size: 0.14rem;
    border-radius: 5%;
}
.module img{
    width: 100%;
}
.module p{
    font-size: 0.12rem;
    color: rgb(185,185,185);
    width: 100%;
}
.module span{
    font-size: 0.14rem;
    color: black;
    /*width: 100%;*/
}
.live .div-5{
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bottom{
    margin-bottom: 0.65rem;
}
.performance{
    width: 100%;
    font-size: 0.14rem;
    display: flex;
    justify-content:space-around;
    border-top: 0.02rem solid rgb(237,237,237);
    z-index: 5;
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 0.55rem;
}
.performance a{
    color: rgb(111,111,111);
}
.performance img{
    width: 50%;
}
.performance div{
    display: flex;
    text-align: center;
    align-items:center;
}